body {
  margin: 0;
}

.Container {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.CardsAndTable {
  flex: 0 0 260px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;

  img {
    width: 40px;
    height: 58px;
  }
}

.CardsBlock {
  flex: 0 0 570px;
  display:flex;
  justify-content: space-between;
  flex-direction: column;

  &-suit {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}

.Card {
  width: 40px;
  height: 58px;
  border: 1px solid #333;

  &-chosen {
    @extend .Card;
    opacity: 0.2;
  }

  &-selected {
    width: 40px;
    height: 58px;
    border: 2px solid #6e84cf;
  }

  &-in {
    @extend .Card;
    background-image: url(img/delete-cross.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
    margin: 1px;
  }

  &-in:hover {
    img {
      opacity: 0;
    }
  }
}

.PokerTable {
  flex: 0 0 535px;
  display: inline-block;
  background-image: url(img/poker-table.png);
  background-size: cover;
  background-repeat: no-repeat;

  .Card {
    padding: 2px;
    border: 0px;
  }
}

.Player {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;

  &-1 {
    @extend .Player;
    left: 90px;
    top: -93px;
  }

  &-2 {
    @extend .Player;
    left: -98px;
    top: -23px;
  }

  &-3 {
    @extend .Player;
    left: -190px;
    top: 78px;
  }

  &-4 {
    @extend .Player;
    left: -188px;
    top: 92px;
  }

  &-5 {
    @extend .Player;
    left: -184px;
    top: 92px;
  }

  &-6 {
    @extend .Player;
    left: 321px;
    top: -9px;
  }

  &-7 {
    @extend .Player;
    left: 325px;
    top: -22px;
  }

  &-8 {
    @extend .Player;
    left: 237px;
    top: -123px;
  }

  &-9 {
    @extend .Player;
    left: 51px;
    top: -194px;
  }
}

.Hand {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 65px;
}

.PlayerName {
  text-align: center;
  color: #0091ff;
  height: 17px;
}

.WinningChances {
  text-align: center;
  color: #0091ff;
}

.Board {
  display: flex;
  position: relative;
  width: 230px;
  height: 62px;
  left: 161px;
  top: 81px;
}

.SplitPotBox {
  display: inline-block;
  position: relative;
  width: 140px;
  left: 223px;
  top: 80px;
  color: #0091ff;
}

.OptionsAndStatistics {
  flex: 0 0 330px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 1105px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.Statistics {
  flex: 0 0 800px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.Combinations {
  flex: 0 0 87px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  div {
    text-align: center;
    border: 1px solid black;
    font-size: 12px;
  }
}

.Histogram {
  flex: 0 0 76px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 3px;

  div {
    height: 15px;
    text-align: center;
    border: 1px solid black;
    font-size: 12px;
  }
}

.Options {
  flex: 0 0 285px;
}

.PlayersAmount {
  margin: 7px;
}

.SelectText {
  float: left;
  font-size: 20px;
}

.CustomSelect {
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  width: 30px;
  border-radius: 3px;
  overflow: hidden;
  background-color: #fff;
  background: #fff url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 90% 50%;

  select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }

  select:focus {
    outline: none;
  }
}

.CustomButton {
  border-radius: 24px;
  font-family: Arial;
  color: #000000;
  font-size: 16px;
  background: #ffffff;
  padding: 7px 26px 7px 26px;
  margin: 5px;
  border: solid #000000 1px;
  text-decoration: none;

  &:hover {
    background: #d6dee3;
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

.ChangeNameArea {
  display: flex;
  flex-direction: column;

  p {
    float: left;
    margin: 0;
  }
  input {
    border-radius: 5px;
    border: 1px solid #333;
    margin-bottom: 3px;
    margin-left: 7px;

    &:focus {
      outline: none;
    }
  }
}
.ChangeName {
  display: inline;
  margin: 3px;
}

.Loader {
  color: #333;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 125px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
