body {
  margin: 0;
}

.Container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.CardsAndTable {
  flex: 0 0 1346px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;

  .CardsBlock {
    flex: 0 0 693px;
    display:flex;
    justify-content: space-between;
    flex-direction: column;

    &-suit {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }

    img {
      width: 53px;
      height: auto;
    }
  }

  .PokerTable {
    flex: 0 0 650px;
    background-image: url(img/poker-table.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

}

.CardShirt {
  width: 55px;
  height: 70px;
  margin: 5px;
  background-image: url(img/card-shirt.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.Player {
  display: block;
  width: 120px;
  height: 105px;
  position: relative;
  left: 100px;
  top: 0px;

  .Hand {
    display: flex;
    justify-content: center;
    width: 120px;
    height: 80px;
  }

  .PlayerName {
    text-align: center;
    font-size: 1.1em;
    color: #fff;
  }
}

.Board {
  display: flex;
  justify-content: center;
  position: relative;
  width: 300px;
  height: 75px;
  left: 184px;
  top: 16px;
}
